---
layout: page
title: Category Index 2
permalink: /categories/index.html
title: Category Index
tags: [Categories]
description: "An archive of posts sorted by categories."
---
{% assign posts = site.posts %}
{% assign first = true %}
{% assign globaltags = nil %}
{% for post in posts %}
  {% assign tags = post.tags %}
  {% if first == true %}
    {% assign globaltags =  post.tags %}
    {% assign first = false %}
  {% endif %}
  {% for tag in tags %}
    {% unless globaltags contains tag %}
     {% assign globaltags = globaltags | concat:tag %}
    {% endunless %}
  {% endfor %}
{% endfor %}

{% for globaltag in globaltags %}
  <ul>
  TAG <span>{{ globaltag}}</span>
  {% for post in posts %}
    {% if post.tags contains globaltag %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
  {% endfor %}
</ul>
{% endfor %}
