---
layout: page
title: Category Index
permalink: /categories/index.html
title: Category Index
tags: [Categories]
description: "An archive of posts sorted by categories."
---

{% assign posts = site.posts %}
{% assign first = true %}
{% assign globaltags = nil %}
{% for post in posts %}
  <a href="{{ post.url }}">{{ post.title }}</a>
  {% assign tags = post.tags %}
  {% if first == true %}
    First is false
    {% assign globaltags =  post.tags%}
    {% assign first = false %}
      First is false
  {% endif %}
  {% for tag in tags %}
    {{ tag }}
    {% unless globaltags contains tag %}
      Adding {{ tag }}
      {% size = globaltags.size  %}
      Size is now {{ size }}
      {% globaltags[size] = tag %}
    {% endunless %}
  {% endfor %}
{% endfor %}

<ul class="tag-box inline">
  {% for tag in globaltags %}
    {% for post in posts %}
      {% if post.tags contains tag %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
      </li>
      {% endif %}
      {% endfor %}
  {% endfor %}
  </ul>
